{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Orientadores</title>
{% endblock %}

{% block content %}

    <div>
        <h2>Lista de Orientadores
        {% if request.user.is_authenticated %}
        <a href="{% url 'criaOrientador'%}" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i> Adicionar Orientador</a>
        {% endif %}
        </h2>
        <hr>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th style="color: white;" scope="col">Nome</th>
                    {% if request.user.is_authenticated %}
                    <th style="color: white;" scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>

                    <td href="{{ object.link_curriculo }}" rel="noopener noreferrer" style="color: white;">{{ object.first_name }} {{object.last_name}}</td>
                    {% if request.user.is_authenticated %}

                    <td>
                        <a href="{% url 'updateOrientador' pk=object.id%}"  class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a class="btn btn-danger" href="{% url 'deleteOrientador' pk=object.id %}">EXCLUIR</a>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td style="color:white;" colspan="4">SEM REGISTROS DE ORIENTADOR.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/paginacao.js' %}"></script>
{% endblock %}